@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800');
$white: #ffffff;
$light-grey: #cccccc;
$grey: #7c7d80;
$dark-grey: #626262;
$montserrat: 'Montserrat', serif;

body {
  font-family: $montserrat;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.contain {
  max-width: 80rem;
  margin: 0 auto;
}

.header-contain {
  max-width: 80rem;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 414px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: $montserrat;
  font-weight: 400;
  width: 80rem;
  @media screen and (min-width: 414px) {
    margin: 2rem;
    border-top: dotted 0.1rem $light-grey;
  }
}

.logo {
  text-align: left;
  justify-content: flex-start;
  margin: 0 auto;
  font-family: $montserrat;
  @media screen and (min-width: 414px) {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: $dark-grey;
  }
}

.company-description {
  display: none;
  width: 40%;
  justify-content: flex-end;
  font-family: $montserrat;
  font-weight: 300;
  width: 20rem;
  @media screen and (min-width: 540px) {
    display: flex;
    font-size: 0.65rem;
    padding-left: 0.8rem;
    color: $grey;
    border-left: solid 0.03rem $light-grey;

  }
}

.login-bar {
  text-align: center;
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: 300;
  font-size: 0.6rem;
  margin-top: 0.35rem;
  margin-left: 0.5rem;
}

.all-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.each-photo {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.03rem solid $light-grey;
  padding: 0.4rem;
  margin-top: 0.8rem;
  width: 100%;

  @media screen and (min-width: 540px) {
    width: 31%;
  }
}

.featured-photo {
  width: 98%;
  object-fit: cover;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
}

.each-photo img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}