$white: #ffffff;
$light-grey: #cccccc;
$grey: #7c7d80;
$dark-grey: #626262;

body {
  font-family: Arial;
  color: $grey;
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.container {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 540px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

.header {
  background-color: orange;
}

.logo {
  background-color: yellow;
}

.company-description {
  background-color: blue;
}

.login-bar {
  background-color: green;
}

// #header {
//   display: flex;
//   flex-direction: row;
//   @media screen and (min-width: 540px) {
//     padding: 10px 0px 50px 0px;
//     border-top: dotted 1px $light-grey;
//   }
// }

// #logo {
//   width: 60%;
//   margin: 0 auto;
//   @media screen and (min-width: 540px) {
//     justify-content: flex-start;
//     width: 100%;
//     font-size: 46px;
//     letter-spacing: 4px;
//     color: $dark-grey;
//   }
// }

// #company-description {
//   justify-content: flex-end;
//   @media screen and (min-width: 540px) {
//     // display: flex;
//     width: 40%;
//     font-size: 10px;
//     padding-left: 10px;
//     color: $grey;
//     border-left: solid 1px $light-grey;

//   }
// }
