  <div class='login-bar'>
  {{#unless user}}
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="SIGN IN" method="POST">
      <a href="/login/new"><div class="new-user-button">SIGN UP NOW</div></a>
    </form>
  {{/unless}}
  </div>

{{#if user}}
  Hello {{user.username}}<BR>
  <a href="/logout">LOG OUT</a>
{{/if}}