<div class='edit-page'>
  {{#with editPhoto}}
    <form action="/gallery/{{id}}" method="POST">
      <label form="author">Author</label>
      <input type="text" name="author" placeholder="author">

      <label form="link">Image URL</label>
      <input type="text" name="link" placeholder="URL">

      <label form="description">Description</label>
      <input type="text" name="description" placeholder="description">

      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="EDIT">
    </form>

  <img src="{{link}}" alt="">
  Author: {{author}}<BR>
  Description: {{description}}
  {{/with}}
</div>