<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
</head>
<body>
<h1>gallery.hbs</h1>
  <div class='gallery'>
  <a href="">I need to delete photo</a>
  <a href="">I need to edit photo</a>
  </div>
</body>
</html>