<div class="featured-photo">
    <div class="slider">
      {{#each allPhotos.[0]}}
      <img src="{{link}}" alt="">
      {{/each}}
    </div>
  </div>

<div class='all-photos'>

  {{#each allPhotos}}
    <div class="each-photo">
      <a href="/gallery/{{id}}" class="linkButtons"><img src="{{link}}" width="600px"></a>
    </div>
  {{/each}}
</div>

<div class="new-link">
  <a href="/gallery/new" class="linkButtons"><div class="addNew">Add New Image</div></a>
</div>