<div class='all-photos'>
  {{#each allPhotos}}
  <div class="list-view">
    <div class="each-photo">
      <a href="/gallery/{{id}}" class="linkButtons"><img src="{{link}}" width="600px"></a>
      <p>Author: {{author}}</p>
      <p>Description: {{description}}</p>
    </div>
  </div>
  {{/each}}
</div>

<div class="new-link">
  <a href="/gallery/new" class="linkButtons"><div class="addNew">Add New Image</div></a>
</div>