<div class="sub-titles">
  <h2>Post A New Image</h2>
</div>

<div class='newPage'>
  <form action="/gallery/{{id}}" method="POST">
    <label form="author">Author</label>
    <input type="text" name="author" placeholder="author">
    <label form="link">Image URL</label>
    <input type="text" name="link" placeholder="image url">
    <label form="description">Description</label>
    <input type="text" name="description" placeholder="description">
    <input type="submit" value="POST" method="POST">
  </form>
</div>