<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Gallery</title>
</head>
<body>
<h1>new.hbs</h1>
  <div class='gallery'>
    <form action="submit">
      <input type="{{author}}">
    </form>
  </div>
</body>
</html>