<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
</head>
<body>
{{#with singlePhoto}}
<h1>singlePhoto.hbs</h1>
  <div class='gallery'>
    <img src="{{link}}" alt=""><br>
    <a href="">I need to delete photo</a>
    <a href="">I need to edit photo</a>
  </div>
  {{/with}}
</body>
</html>