body {
  font-family: Arial;
  color: #7c7d80; }

.container {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 540px) {
    .container {
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between; } }

.header {
  background-color: orange; }

.logo {
  background-color: yellow; }

.company-description {
  background-color: blue; }

.login-bar {
  background-color: green; }
