@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
body {
  font-family: "Montserrat", serif;
  font-weight: 300; }

.contain {
  max-width: 80rem;
  margin: 0 auto; }

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 414px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

.all-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem; }

.each-photo {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.03rem solid #cccccc;
  padding: 0.4rem;
  margin-top: 0.8rem;
  width: 100%; }
  @media screen and (min-width: 540px) {
    .each-photo {
      width: 31%; } }

.featured-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px; }

.each-photo img {
  height: 20rem;
  width: 100%;
  object-fit: cover; }

.header a {
  text-decoration: none; }

.list-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80rem; }

.main-photo-box {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 1rem; }
  @media screen and (min-width: 540px) {
    .main-photo-box {
      width: 40rem;
      object-fit: cover; } }

.main-photo {
  width: 100%; }
  @media screen and (min-width: 540px) {
    .main-photo {
      width: 40rem;
      object-fit: cover; } }

.side-photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem; }
  @media screen and (min-width: 540px) {
    .side-photos {
      width: 31%; } }

.side-photos img {
  width: 100%;
  object-fit: cover; }

.header-contain {
  max-width: 80rem;
  margin: 0 auto; }

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Montserrat", serif;
  font-weight: 400;
  width: 80rem; }
  @media screen and (min-width: 414px) {
    .header {
      margin: 2rem;
      border-top: dotted 0.1rem #cccccc; } }

.logo {
  display: flex;
  text-align: left;
  align-content: flex-start;
  margin: 0 auto;
  font-family: "Montserrat", serif; }
  @media screen and (min-width: 414px) {
    .logo {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      color: #626262; } }

.company-description {
  display: none;
  width: 40%;
  align-content: flex-end;
  font-family: "Montserrat", serif;
  font-weight: 300; }
  @media screen and (min-width: 540px) {
    .company-description {
      display: flex;
      font-size: 0.65rem;
      padding-left: 0.8rem;
      color: #7c7d80;
      border-left: solid 0.03rem #cccccc; } }

.login-bar {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 0.6rem;
  margin-top: 0.35rem;
  margin-left: 0.5rem; }
