.edit-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80rem;
}

.main-photo-box {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main-photo {
  width: 100%;
  display: flex;
}

.info-box {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;

  @media screen and (min-width: 540px) {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }
}

.input-form {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  padding: 1rem;

  @media screen and (min-width: 540px) {
    width: 15rem;
  }
}

.photo-info {
  padding: 1rem;

  @media screen and (min-width: 540px) {
    width: 50%;
  }
}

.edit-button {
  background-color: $white;
  font-family: $montserrat;
  text-transform: uppercase;
  border: 1.5px solid $grey;
  padding: 0.8rem;
  width: 100%;
  color: $grey;

  @media screen and (min-width: 540px) {
    width: 15rem;
    padding: 0.5rem;
  }
}

.edit-button:hover {
    background-color: $light-grey;
    border: 1.5px solid $light-grey;
    color: $white;
  }