<div class="login-page">
  <div class="sub-titles">
    <h2>Please Login</h2>
  </div>

  <div class='login-form'>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="SUBMIT" method="POST">
    </form>
    <a href="/login/new">Create New User</a>
  </div>

</div>