<div class="sub-titles">
  <h1>Create Username and Password</h1>
</div>

<div class="new-user-page">
    <form action="/login/new" method="POST">
      Username: <input type="text" name="username" placeholder="username">
      Password: <input type="password" name="password" id="password" placeholder="password">
      <input id='new-user-button' type="submit" value="Submit">
    </form>
</div>